@media (min-width: 2560px){
  .container{
    max-width: 2500px;
  }
  
  .logo{
    max-width: 550px;
  }

  main{
    max-width: 2500px;
  }

  main .ilustration{
    width: 1100px;
  }

  main .information{
    max-width: 920px;
    margin: 180px 0 0 80px;
  }
  main .information h1{
    font-size: 59px;
  }

  main .information p{
    font-size: 30px;
  }

  main .information a.button{
    width: 380px;
    padding: 29px 50px;
    font-size: 30px;
  }

  footer ul.social li.circulo{
    width: 80px;
    height: 80px;
    border: #fff solid 2px;
  }

  footer ul.social li.circulo i{
    font-size: 32px;
  }

  footer ul.social li.circulo:hover{
    border: var(--primary-soft) solid 2px;
  }
}

@media (max-width: 1024px){
  .container{
    max-width: 940px;
  }

  .logo{
    margin-top: 15px;
  }

  main{
    height: 420px;
  }

  main .ilustration{
    margin-top: 15px;
  }

  main .information{
    max-width: 400px;
    margin-left: 40px;
  }

  main .information h1{
    font-size: 35px;
  }

  main .information p{
    font-size: 15px;
  }

  main .information a.button{
    padding: 13px 45px;
    font-size: 15px;
  }

  footer ul.social li.circulo{
    width: 35px;
    height: 35px;
  }

  footer ul.social li.circulo i{
    font-size: 15px;
  }
}

@media (max-width: 768px){
  body{
    background: url(../images/bg-mobile.svg) no-repeat top;
    background-size: contain;
    background-color: var(--bg-color);
  }

  .container{
    max-width: 600px;
  }

  .container .logo{
    display: flex;
    width: 150px;
    margin-top: 50px;
  }

  main{
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  main .ilustration{
    width: 600px;
    margin-top: 70px;
  }

  main .information{
    max-width: 500px;
    margin: 180px 30px 0 30px;
    align-items: center;
    text-align: center;
  }

  main .information h1{
    font-size: 40px;
  }

  main .information p{
    font-size: 17px;
  }

  footer{
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  footer ul.social li.circulo{
    margin: 0 15px;
  }
}

@media (max-width: 425px){
  .container{
    max-width: 380px;
  }

  main .ilustration{
    width: 380px;
  }

  main .information{
    max-width: 380px;
    height: 280px;
    margin: 90px 35px 0 35px;
  }

  main .information h1{
    font-size: 27px;
  }

  main .information p{
    font-size: 15px;
  }

  main .information a.button{
    padding: 10px 40px;
    font-size: 13px;
  }

  footer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  footer ul.social li.circulo{
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 375px){
  .container{
    max-width: 280px;
  }

  main .ilustration{
    width: 300px;
  }

  main .information{
    max-width: 380px;
    margin: 50px 0 0 0;
  }

  main .information h1{
    font-size: 20px;
  }

  main .information p{
    font-size: 13px;
  }
}
