body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    height: 100vh;
    max-width: 1440px;
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    background-color: var(--bg-color);
    /* overflow: hidden; */
}

.logo {
    margin-top: 40px;
    width: 20%;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 40px; 
    position: relative;
}

main .ilustration {
    min-width: 65%;
}

main .information {
    flex-direction: column;
    margin: 50px 0 50px 50px;
    min-width: 35%;
}
main .information h1 {
    font-size: 38px;
    font-weight: 600;
}

main .information p {
    margin-top: 20px;
}

main .information .button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--bg-color);
    background-color: #fff;
    text-align: center;
    padding: 15px 90px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
}

main .information .button:hover {
    background-color: var(--primary-soft);
    color: #fff;
    transition: 0.3s;
}

footer .social {
    display: flex;  
    justify-content: end;
    position: absolute;
    bottom: 3%;
    right: 3%;   
    align-items: center;
}

footer .social .circulo {
    display: flex;
    width: 55px;
    height: 55px;
    border: #fff solid 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: 0.3s;
}

footer .social .circulo i {
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
}

footer .social .circulo:hover {
    border: var(--primary-soft) solid 1px;
}

footer .social .circulo:hover i {
    color: var(--primary-soft);
}

footer .social .circulo .insta {
    font-size: 18px;
}

@media (max-width: 1013px) {
    .container .information h1 {
        font-size: 33px;
    }
    
    .container .information p {
        margin-top: 15px;
        font-size: 15px;
    }
}

@media (max-width: 895px) {
    .container .information h1 {
        font-size: 28px;   
    }
}

@media (max-width: 768px) {
    body{
        background: url(../images/bg-mobile.svg) no-repeat center;
        background-size: 100%;
        background-color: var(--bg-color);
    }

    .logo {
        width: 25%;       
    }

    .container {
        flex-direction: column;
    }

    .container .information h1 {
        font-size: 47px;
        text-align: center;
    }

    .container .information {
        margin: 100px 0;
    }

    .container .information p {
        text-align: center;
        font-size: 29px;
        margin: 20px 20px 50px 20px;
    }

    .container .information .button {
        margin: auto;
        padding: 20px 190px;
    }

    footer .social {
        position: static;
        justify-content: center;
        margin-bottom: 50px;
    }
}