body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    height: 100vh;
    max-width: 1720px;
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    background-color: var(--bg-color);
    /* overflow: hidden; */
}

.logo {
    margin-top: 60px;
    width: 28%;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 40px; 
    position: relative;
}

main .ilustration img {
    min-width: 1000px;
    height: auto;
}

main .information {
    flex-direction: column;
    margin: 50px 0 50px 50px;
}
main .information h1 {
    font-size: 60px;
    font-weight: 600;
}

main .information p {
    margin-top: 20px;
    font-size: 22px;
}

main .information a.button {
    display: flex;
    width: 250px;
    justify-content: center;
    margin-top: 30px;
    color: var(--bg-color);
    background-color: #fff;
    padding: 22px 140px;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 400;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.349);
}

main .information a.button:hover {
    background-color: var(--primary-soft);
    color: #fff;
    transition: 0.3s;
}

footer ul.social {
    display: flex;  
    justify-content: end;
    position: absolute;
    bottom: 5%;
    right: 100px;   
    align-items: center;
}

footer ul.social li.circulo {
    display: flex;
    width: 58px;
    height: 58px;
    border: #fff solid 2px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    transition: 0.3s;
}

footer ul.social li.circulo i {
    display: flex;
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

footer ul.social li.circulo:hover i {
    border: var(--primary-soft) solid 1px;
}

footer .social .circulo:hover i {
    color: var(--primary-soft);
}

footer .social .circulo .insta {
    font-size: 18px;
}

@media (max-width: 1013px) {
    .container .information h1 {
        font-size: 33px;
    }
    
    .container .information p {
        margin-top: 15px;
        font-size: 15px;
    }
}

@media (max-width: 895px) {
    .container .information h1 {
        font-size: 28px;   
    }
}

@media (max-width: 768px) {
    body{
        background: url(../images/bg-mobile.svg) no-repeat center;
        background-size: 100%;
        background-color: var(--bg-color);
    }

    .logo {
        width: 25%;       
    }

    .container {
        flex-direction: column;
    }

    .container .information h1 {
        font-size: 47px;
        text-align: center;
    }

    .container .information {
        margin: 100px 0;
    }

    .container .information p {
        text-align: center;
        font-size: 29px;
        margin: 20px 20px 50px 20px;
    }

    .container .information .button {
        margin: auto;
        padding: 20px 190px;
    }

    footer .social {
        position: static;
        justify-content: center;
        margin-bottom: 50px;
    }
}