body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    background: url(../images/bg-desktop.svg) center no-repeat;
    background-color: var(--bg-color);
    height: 100vh;
    margin: 40px;
}

.logo{
    width: 15%;
}

main{
    display: flex;
}

.ilustration{
    display: flex;
    margin-top: 40px;
    min-width: 709px;
}

.information{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 90px;
    max-width: 500px;
}

.information h1{
    font-size: 38px;
    font-weight: 600;
}

.information p{
    margin-top: 20px;
}

.information .button{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--bg-color);
    background-color: #fff;
    width: 30%;
    text-align: center;
    padding: 10px 80px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
}

.information .button:hover{
    background-color: var(--primary-soft);
    color: #fff;
    transition: 0.3s;
}

.social{
    display: flex;
    margin-top: 120px;
    justify-content: end;
}

.social .circulo{
    display: flex;
    width: 35px;
    height: 35px;
    border: #fff solid 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: 0.3s;
}

.social .circulo a {
    font-size: 14px;
    color: #fff;
    transition: 0.3s;
}

.social .circulo:hover {
    border: var(--primary-soft) solid 1px;
}

.social .circulo:hover a {
    color: var(--primary-soft);
}

.social .circulo .insta {
    font-size: 18px;
}

@media(max-width: 768px){
    body{
        flex-direction: column;
        background: url(../images/bg-mobile.svg) no-repeat center;
        background-color: var(--bg-color);
        background-size: cover;
        height: 700px;
    }

    .logo{
        width: 25%;
        margin-top: 20px;
    }

    .container .ilustration{
        margin: 40px auto;
    }

    .container .ilustration img{
        margin-top: 40px;
        width: 688px;

    }

    .container .information{
        width: 650px;
        margin: 80px auto;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .container .information h1{
        text-align: center;
    }

    .container .information a{
        margin: 20px auto;
    }

    .container .information .social{
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
}   